.nav-hamburger {
  height: 2rem;
}

.nav-hamburger:hover {
  cursor: pointer;
}

.nav-list {
  display: none;
  gap: 2rem;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-login-link {
  border: 0.125rem solid black;
  border-radius: 0.125rem;
  padding: 0.25rem 1.5rem;
  background-color: white;
}

@media (min-width: 768px) {
  .nav-hamburger {
    display: none;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 3rem;
  }
}
